.aboutUs{
    margin-top: 100px;
    width: 100%;
    &_header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        &_text{
             font-size: 96px;
             font-weight: 700;
         }
         &_decor{
             width: 100%;
             display: flex;
             justify-content: center;
             position: relative;
             z-index: -1;
             height:0px;
             top: 5px;
             left: -5px;
             &_inner{
                -webkit-text-stroke: 2px #B49657;
                color: #fff0;
                font-size: 96px;
                font-weight: 700;
             }
         }
    }
    &_elements{
     display: flex;
     row-gap: 50px;
     flex-wrap: wrap;
    }
    &_element{
         display: flex;
         align-items: center;
         column-gap: 150px;
         width: 100%;
         &_content{
             z-index: 3;
             position: relative;
                 &_header{
                 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                 font-size: 48px;
                 font-weight: 700;
                 &_decor{
                     width: 100;
                     max-width: 450px;
                     background: $primaryColor;
                     height: 24px;
                     border-radius: 39px;
                     margin-top: -20px;
                 }
             }
             &_p{
                 font-size: 16px;
                 font-weight: 400;
                 margin-top: 36px;
                 display: flex;
                 flex-wrap: wrap;
                 row-gap: 20px;
             }
             &_dot{
                 color: $primaryColor;
                 font-size: 20px;
                 font-weight: 700;
                 // padding: 20px 0px;
                 width: 100%;
             }
             &_dot:before{
                 content: "●"
             }
         }
    }
    .transition{
         &_inner{
            top: -246px;
            left: 514px;
             z-index: 2;
         }
    }
 }
 