.contacts{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    &_header{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        max-width: 1020px;
        &_text{
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 32px;
            font-weight: 700;
            text-align: center;
            @media(max-width:700px){
                font-size: 24px;
            }
            @media(max-width:450px){
                font-size: 18px;
            }
        }
        &_line{
            margin-top: 8px;
            width: 100%;
            max-width: 452px;
            height: 24px;
            border-radius: 39px;
            background: #B49657;
        }
    }
    &_list{
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
        @media(max-width:1000px){
            flex-wrap: wrap;
        }
        &_element{
            width: 100%;
            max-width: 360px;
            background: rgba(180, 150, 87, 0.15);
            backdrop-filter: blur(9px);
            padding: 20px;
            display: flex;
            column-gap: 16px;
            &_delimenter{
                border-right: 3px solid #B39557;
            }
            &_content{
                display: flex;
                row-gap: 12px;
                flex-wrap: wrap;
                &_header{
                    width: 100%;
                    color: #B39557;
                    font-size: 36px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                &_p{
                    width: 100%;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}
