
.profitGarant{
    margin-top: 120px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    &_decor{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 0px;
        img{
            height: 300px;
            position: relative;
            top: -300px;
            left: -300px
        }
    }
    &_decor_circle{
        width: 100%;
        display: flex;
        justify-content: center;
        height: 0px;
        img{
            height: 600px;
            position: relative;
            top: -450px;
            left: -280px;
            z-index: -1;
        }
    }
    &_subHeader{
        text-align: right;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        margin-top: 48px;
        max-width: 880px;
    }
    &_header{
        display: flex;
        flex-wrap: wrap;
        &_text{
            width: 100%;
            text-align: right;
            font-size: 64px;
            font-weight: 700;
        }
        &_decor{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            z-index: -1;
            height:0px;
            top: -4px;
            left: 4px;
            &_inner{
                width: 100%;
                text-align: right;
               -webkit-text-stroke: 2px #B49657;
               color: #fff0;
               font-size: 64px;
               font-weight: 700;
            }
        }
    }
    &_content{
        max-width: 452px;
        margin-top: 10px;
        width: 100%;
        &_wrapper{
            display: flex;
            justify-content: right;
            width: 100%;
        }
        &_line{
            width: 100%;
            height: 6px;
            border-radius: 39px;
            background: #B49657;
            margin-bottom: 15px;
        }
        &_element{
            background: rgba(86, 86, 86, 0.42);
            padding: 8px 40px;
            display: flex;
            column-gap: 16px;
            align-items: center;
            &_value{
                color: #E0AE46;
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-size: 64px;
                font-weight: 900;
            }
            &_desc{
                text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                font-size: 16px;
                font-weight: 400;
            }
        }
        &_element:not(:last-child){
            border-bottom: 3px solid $primaryColor;
        }
    }
}
