
.struct{
    margin-top: 120px;
    &_header{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        &_text{
            width: 100%;
            font-size: 64px;
            font-weight: 700;
            text-align: center;
        }
        &_decor{
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;
            z-index: -1;
            height:0px;
            top: -4px;
            left: -4px;
            &_inner{
            text-align: center;
            width: 100%;
               -webkit-text-stroke: 2px #B49657;
               color: #fff0;
               font-size: 64px;
               font-weight: 700;
            }
        }
        &_line{
            width: 452px;
            height: 24px;
            border-radius: 39px;
            background: #B49657;
            position: relative;
            z-index: -2;
            top: -30px
        }
    }
    &_elements{
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        row-gap: 50px;
    }
    &_element{
        &_first{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_content{
                &_header{
                    font-size: 40px;
                    font-weight: 700;
                    text-transform: uppercase;
                    max-width: 628px;
                    &_line{
                        width: 628px;
                        height: 6px;
                        border-radius: 39px;
                        background: #B49657;
                        margin-top: 8px;
                    }
                }
                &_p:before{
                    content: "●";
                    color: #B39557
                }
                &_p{
                    max-width: 555px;
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 60px;
                    &_colored{
                        color: #B39557;
                        font-size: 20px;
                        font-weight: 700;
                        display: inline;
                    }
                }
            }
            &_decorations{
                display: flex;
                justify-content: right;
                flex-wrap: wrap;
                width: 100%;
            }
            &_decor{
                display: flex;
                justify-content: center;
                width: 100%;
                height:0px;
                img{
                    height:600px;
                    position: relative;
                    top: -530px;
                    left: 80px
                }
            }
        }
        &_second{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &_decorations{
                display: flex;
                justify-content: left;
                flex-wrap: wrap;
                width: 100%;
            }
            &_decor{
                display: flex;
                justify-content: center;
                width: 100%;
                height:0px;
                img{
                    height:600px;
                    position: relative;
                    top: -600px;
                    left: 0px
                }
            }
            &_content{
                &_header{
                    width: 100%;
                    font-size: 64px;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-align: right;
                }
                &_Subheader{
                    margin-top: 24px;
                    width: 100%;
                    text-align: right;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    font-size: 19px;
                    font-weight: 500;
                }
                &_elements{
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 28px;
                    justify-content: right;
                    row-gap: 20px;
                }
                &_element{
                    max-width: 500px;
                    display: flex;
                    column-gap: 14px;
                    background: rgba(180, 150, 87, 0.15);
                    backdrop-filter: blur(9px);
                    padding: 20px 40px;
                    align-items: center;
                    min-height: 128px;
                    &_line{
                        min-height: 88px;
                        border-right: 5px solid white
                    }
                    &_text{
                        display: flex;
                        row-gap: 8px;
                        flex-wrap: wrap;
                    }
                    &_header{
                        color: #B39557;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                    }
                    &_p{
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 400;
                    }
                    
                }
            }
        }
    }
}
