.usp{
    padding-top: 200px;
    &_header{
        position: relative;
        z-index: 1;
        font-size: 66px;
        font-weight: 700;
        &_decor{
            width: 100;
            max-width: 450px;
            background: $primaryColor;
            height: 24px;
            border-radius: 39px;
            margin-top: -36px;
        }
    }
    &_p{
        font-size: 25px;
        font-weight: 400;
        margin-top: 10px;
    }
    &_form{
        width: 100%;
        max-width: 600px;
        background: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        border-radius: 44.5px;
        margin-top: 24px;
        &_input{
            height: 60px;
            border: none;
            padding: 0px 20px;
            border-radius: 60px;
            font-size: 20px;
            width: 100%;
        }
        &_input:focus{
            outline: none;
        }
        &_button{
            border-radius: 44.5px;
            background: #B49657;
            height: 60px;
            width: 60%;
            min-width: 180px;
        }
    }
    &_decor_text{
        width: 0px;
        height: 0px;
        position: relative;
        top: -230px;
        left: -70px;
        &_inner{
            font-size: 256px;
            font-style: normal;
            font-weight: 800;
            white-space: nowrap;
            color: transparent; 
            -webkit-text-stroke: 2px $primaryColor;
        }
    }
    &_decor_img{
        width: 100%;
        display: flex;
        justify-content: center;
        .free_img{
            z-index: -1;
            display: flex;
            align-items: end;
            justify-content: center;
            top: 150px;
            left: 380px
        }
    }
}
